*{
	margin:0px;
	padding:0px;
}

header,section,footer{
	background-color: blue;
	color:white;
	text-align: center;
}

footer{
	display:table;
	margin: 0px auto;
}

footer div{
	background-color: #ccc;
	display:table-cell;
	width:200px;
	text-align: center;
	vertical-align: middle;
	height: 100px;
}

