.a{
	color: blue;
}
.b{
	width: 400px;
	border: 1px solid;
	height: 200px;
	float: left; 
}
.c{
	width: 400px;
	border:1px solid;
	height: 200px;
	float: left; 
}
.d{
	width: 400px;
	border: 1px solid; 
	height: 200px; 
	float: left;
}
.e{
	width: 400px;
	border:1px solid;
	height: 200px;
	float: left; 
}
.f{
	width: 400px;
	border: 1px solid; 
	height: 200px; 
	float: left;
}
.g{
	width: 400px;
	border:1px solid;
	height: 200px; 
	float: left;
}
.h{
	width: 400px;
	border: 1px solid;
	height: 200px;
	float: left;  
}
.i{
	width: 400px;
	border:1px solid;
	height: 200px;
	float: left;
}
.j{
	width: 400px;
	border:1px solid;
	height: 200px;
	float: left; 
}
.b h1{
	padding-left: 178px;
	padding-top: 65px;
}
.c h1{
	padding-left: 178px;
	padding-top: 65px;
}
.d h1{
	padding-left: 178px;
	padding-top: 65px;
}
.e h1{
	padding-left: 178px;
	padding-top: 65px;
}
.f h1{
	padding-left: 178px;
	padding-top: 65px;
}
.g h1{
	padding-left: 178px;
	padding-top: 65px;
}
.h h1{
	padding-left: 178px;
	padding-top: 65px;
}
.i h1{
	padding-left: 178px;
	padding-top: 65px;
}
.j h1{
	padding-left: 178px;
	padding-top: 65px;
}